In [53]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os
from pprint import pprint
from gkey import gkey

<font size="5">Store Part I Results into Dataframe</font>

In [54]:
#import data from part i
df=pd.read_csv(os.path.join("..","WeatherPy","output_data","clean_cities.csv"))
df.head()

,Unnamed: 0,City,Latitude,Longitude,Temperature,Maximum Temperature,Humidity,Cloudiness,Wind Speed,Maximum Speed,Country,Time Zone,Date and Time
0,0,praia da vitoria,38.7333,-27.0667,63.81,64.40,82,75,21.30,64.40,PT,-3600,1612040003
1,1,severo-kurilsk,50.6789,156.1250,23.45,23.45,95,100,31.07,23.45,RU,39600,1612040003
2,2,port lincoln,-34.7333,135.8667,60.31,60.31,80,0,13.38,60.31,AU,37800,1612040003
3,3,sondrio,46.1690,9.8692,42.37,46.00,79,100,4.18,46.00,IT,3600,1612040003
4,4,sinnamary,5.3833,-52.9500,79.09,79.09,86,100,14.20,79.09,GF,-10800,1612040003

In [55]:
#drop weird new column
df1=df.drop(["Unnamed: 0"], axis=1)
df1.head()

,City,Latitude,Longitude,Temperature,Maximum Temperature,Humidity,Cloudiness,Wind Speed,Maximum Speed,Country,Time Zone,Date and Time
0,praia da vitoria,38.7333,-27.0667,63.81,64.40,82,75,21.30,64.40,PT,-3600,1612040003
1,severo-kurilsk,50.6789,156.1250,23.45,23.45,95,100,31.07,23.45,RU,39600,1612040003
2,port lincoln,-34.7333,135.8667,60.31,60.31,80,0,13.38,60.31,AU,37800,1612040003
3,sondrio,46.1690,9.8692,42.37,46.00,79,100,4.18,46.00,IT,3600,1612040003
4,sinnamary,5.3833,-52.9500,79.09,79.09,86,100,14.20,79.09,GF,-10800,1612040003

<font size="5">Humidity Heatmap</font>

In [59]:
#configure gmaps
gmaps.configure(api_key=gkey)
locations_list=df1[["Latitude","Longitude"]].astype(float)
humidity_list=df1["Humidity"].astype(float)
humidity_list.max()

100.0

In [74]:
#add heatmap layer
m = gmaps.figure(center=(39.754185, -105.230484), zoom_level=2, layout={'width': '800px','height': '600px',
'padding': '3px','border': '1px solid black'})
hm_layer=gmaps.heatmap_layer(locations_list,weights=humidity_list,dissipating=False,max_intensity=100,point_radius=5)
m.add_layer(hm_layer)
m

Figure(layout=FigureLayout(border='1px solid black', height='600px', padding='3px', width='800px'))

<font size="5"> Create New DataFrame Fitting Weather Criteria</font>

In [60]:
#narrow down based on my weather preferences
hotel_df=df1[(df1["Maximum Temperature"]>=80)&(df1["Maximum Temperature"]<=90)&(df1["Wind Speed"]<10)&(df1["Cloudiness"]<=10)]
hotel_df

,City,Latitude,Longitude,Temperature,Maximum Temperature,Humidity,Cloudiness,Wind Speed,Maximum Speed,Country,Time Zone,Date and Time
12,carnarvon,-24.8667,113.6333,80.60,80.60,94,4,6.91,80.60,AU,28800,1612040004
202,ziniare,12.5822,-1.2983,80.60,80.60,21,4,4.61,80.60,BF,0,1612040037
222,ihiala,5.8538,6.8603,81.03,81.03,65,0,7.20,81.03,NG,3600,1612040041
289,jaru,-10.4389,-62.4664,83.41,83.41,81,9,2.98,83.41,BR,-14400,1612040053
539,puerto escondido,15.8500,-97.0667,84.20,84.20,74,1,6.91,84.20,MX,-21600,1612040094

<font size="5">Hotel Map</font>

In [61]:
#create an API query
base_url="https://maps.googleapis.com/maps/api/place/nearbysearch/json?"
#empty list for data from query
hotel_name=[]

#run query and collect first hotel within 5000m of the cities in the hotel_df
for index, row in hotel_df.iterrows():
    latitude=row["Latitude"]
    longitude=row["Longitude"]
    city=row["City"]
    print(f"Retrieving Results for Index {index}: {city}.")
    response=requests.get(f"{base_url}location={latitude},{longitude}&radius=5000&type=lodging&key={gkey}").json()
    results=response["results"]
    try:
        hotel_name.append(results[0]["name"])
        print(f"The closest place to stay is {results[0]['name']}.")
    except Exception:
        print(f"Error")
        hotel_name.append("NA")
    print("----------------------------------------")

Retrieving Results for Index 12: carnarvon.
The closest place to stay is Hospitality Carnarvon.
----------------------------------------
Retrieving Results for Index 202: ziniare.
The closest place to stay is Privilège Hôtel de Ziniaré.
----------------------------------------
Retrieving Results for Index 222: ihiala.
The closest place to stay is Tony King Suites Limited.
----------------------------------------
Retrieving Results for Index 289: jaru.
The closest place to stay is Hotel Paraná.
----------------------------------------
Retrieving Results for Index 539: puerto escondido.
The closest place to stay is Aldea del Bazar Hotel and Spa.
----------------------------------------

In [62]:
#add hotel name column
hotel_df["Hotel Name"]=hotel_name
hotel_df

<ipython-input-62-7dad79d1767a>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  hotel_df["Hotel Name"]=hotel_name

,City,Latitude,Longitude,Temperature,Maximum Temperature,Humidity,Cloudiness,Wind Speed,Maximum Speed,Country,Time Zone,Date and Time,Hotel Name
12,carnarvon,-24.8667,113.6333,80.60,80.60,94,4,6.91,80.60,AU,28800,1612040004,Hospitality Carnarvon
202,ziniare,12.5822,-1.2983,80.60,80.60,21,4,4.61,80.60,BF,0,1612040037,Privilège Hôtel de Ziniaré
222,ihiala,5.8538,6.8603,81.03,81.03,65,0,7.20,81.03,NG,3600,1612040041,Tony King Suites Limited
289,jaru,-10.4389,-62.4664,83.41,83.41,81,9,2.98,83.41,BR,-14400,1612040053,Hotel Paraná
539,puerto escondido,15.8500,-97.0667,84.20,84.20,74,1,6.91,84.20,MX,-21600,1612040094,Aldea del Bazar Hotel and Spa

In [75]:
# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
marker_locations = hotel_df[["Latitude", "Longitude"]]
marker_layer = gmaps.marker_layer(marker_locations, info_box_content=hotel_info)
m.add_layer(marker_layer)
#display map with both layers
m

Figure(layout=FigureLayout(border='1px solid black', height='600px', padding='3px', width='800px'))